%h1 Listing Categories

%div.list-group
  - @categories.each do |category|
    .list-group-item.mb-2
      .card
        .card-header.bg-dark.text-white
          %h5.card-title= category.name
        .card-body.d-flex.justify-content-between.align-items-center
          %p.card-text.mb-0= category.description
          .d-flex.gap-2
            = link_to 'Show', category, class: 'btn btn-sm btn-primary'
            = link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-warning'
            = button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

%br
= link_to 'New Category', new_category_path, class: 'btn btn-success'
