%nav.navbar.navbar-expand-lg.navbar-light.bg-white
  %a.navbar-brand{ href: root_path }
    = image_tag 'logo.png', class: 'd-inline-block align-top', width: 85

  %button.navbar-toggler{"type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNavDropdown", "aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
    %span.navbar-toggler-icon

  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.me-auto
      %li.nav-item.active
        %a.nav-link{ href: root_path } Inicio
      %li.nav-item
        %a.nav-link{ href: categories_path } Categorías

    = link_to 'Crear Tarea', new_task_path, class: 'btn btn-light ms-2'

    - if current_user
      .dropdown.dropdown-user.ms-3
        %a#userMenu.dropdown-toggle{"href" => "#", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
          = image_tag "https://robohash.org/#{current_user.email}?size=38x38", class: "rounded-circle"
        .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "userMenu"}
          .dropdown-item.small.text-end= current_user.email
          .dropdown-divider
          = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
            %i.fas.fa-sign-out-alt.me-2
            %span Cerrar sesión

